<!DOCTYPE html>
  <head>
    <title>Did They Win?</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/3.1.0/animate.min.css">
    <style type="text/css">
    body {
      background: url(/images/body_bg.jpg);
      background-size: fill;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      padding-top: 100px;
    }
    h1.title {
      color: #fff;
      margin-bottom: 50px;
      -webkit-animation-duration: 1s;
    }
    form.check-form {
      -webkit-animation-delay: 1.5s;
    }
    .result {
      background: white;
      padding: 0px 20px;
      margin-top: 20px;
    }
    .result .teams {
      border-bottom: 1px solid lightgrey;
    }
    .result .left-team {
      border-right: 1px solid lightgrey;
    }
    .result h3 > .logo {
      height: 60px;
    }
    .result h3 > small {
      color: #333;
    }
    .result .points {
      font-size: 2em;
      padding: 20px 0px;
      display: block;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <h1 class="title <% if @result.nil? %>animated bounceInLeft<% end %>">
                Did They Win? <br/>
                <small>Missed the game? No problem! Check the result here.</small>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form action="/" method="POST" name="check" class="form-inline check-form <% if @result.nil? %>animated pulse<% end %>">
                <input type="text" name="team" value="" class="form-control input-lg" />
                <input type="submit" name="submit" value="Check" class="btn btn-primary btn-lg" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <% if !@result.nil? && @result.has_key?(:team_name) %>
            <div class="result">
              <div class="row teams">
                <div class="col-md-6 text-center left-team">
                  <h3>
                    <img class="logo" src="/images/logos/<%= @result[:team_id] %>.gif" alt="<%= @result[:team_name] %>" /><%= @result[:team_name] %>
                  </h3>
                </div>
                <div class="col-md-6 text-center">
                  <h3>
                  <img class="logo" src="/images/logos/<%= @result[:team_id_opponent] %>.gif" alt="<%= @result[:team_name_opponent] %>" /><%= @result[:team_name_opponent] %>
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h3><%= @result[:date] %></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-center">
                  <span class="points"><%= @result[:points_scored] %></span>
                </div>
                <div class="col-md-6 text-center">
                  <span class="points"><%= @result[:points_scored_opponent] %></span>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-md-12 text-center">
                  It looks like a <%= @result[:outcome] %> for the <%= @result[:team_name] %> by <%= @result[:points_difference] %> points.
                </div>
              </div>-->
            </div>
            <% elsif !@result.nil? && !@result.has_key?(:team_name) %>
              <%= @result[:no_game] %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
