<!DOCTYPE html>
  <head>
    <title>Did They Win?</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/3.1.0/animate.min.css">
    <style type="text/css">
    body {
      background: url(/images/body_bg.jpg);
      background-size: fill;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      padding-top: 100px;
    }
    h1.title {
      color: #fff;
      margin-bottom: 50px;
      -webkit-animation-duration: 1s;
    }
    form.check-form {
      -webkit-animation-delay: 3s;
    }
    .result {
      background: rgba(255,255,255,0.7);
      padding: 20px;
      margin-top: 20px;
    }
    .result h2 > small {
      color: #333;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="title <% if @result.nil? %>animated bounceInLeft<% end %>">
                Did They Win? <br/>
                <small>Missed the game? no problem, check the result here.</small>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form action="/" method="POST" name="check" class="form-inline check-form <% if @result.nil? %>animated pulse<% end %>">
                <input type="text" name="team" value="" class="form-control input-lg" />
                <input type="submit" name="submit" value="Check" class="btn btn-primary btn-lg" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
            <% if !@result.nil? && @result.has_key?(:team_name) %>
            <div class="result">
              <h2><%= @result[:team_name] %> vs. <%= @result[:team_name_opponent] %> <small>(<%= @result[:date] %>)</small></h2>
              <p>
                <h3>Final Score</h3>
                <%= @result[:points_scored] %> to <%= @result[:points_scored_opponent] %>
              </p>
              <p>
                <h3>Result</h3>
                A <%= @result[:outcome] %> for the <%= @result[:team_name] %> by <%= @result[:points_difference] %> points
              </p>
            </div>
            <% elsif !@result.nil? && !@result.has_key?(:team_name) %>
              <%= @result[:no_game] %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
